#pagination{
  padding-top: 40px;
  .container{
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    width: 1056px;
  }
  .pagination--inner{
    display: flex;
    gap: 12px;
    justify-content: center;
  }
  &.row{
    display: flex;
    flex-wrap: wrap
  }
  .page-btn{
    align-items: center;
    border-radius: 4px;
    color: #343a3f;
    display: inline-flex;
    height: 32px;
    justify-content: center;
    width: 32px;
    &.next,
    &.prev,
    &.first-page-btn,
    &.last-page-btn
    {
      background: #f9fafc;
      border: 1px solid #dde1e6;
      color: #a2a9b0;
    }
  }

  .page-box{
    display: flex;
    gap: 12px;
  }
  .next-box,.prev-box{
    display: flex;
    gap: 12px;
  }
  .current{
    background: #e8effd;
    color: #343a3f;
  }

}
