select {
  -moz-appearance: none; /* Firefox */
  -webkit-appearance: none; /* Safari and Chrome */
  appearance: none;
}

button {
  //border: none;
  //padding-left: 20px;
  //padding-right: 20px;
  //font-size: 16px;
}

select:focus {
  outline: none;
}

.entire-container {
  width: 288px;
  height: 48px;

  position: relative;
}

.f-select-container {
  width: inherit;
  height: inherit;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  border: none;

  padding-left: 20px;
  padding-right: 20px;
  font-size: 16px;

  background: white;
  outline: 1px solid #DDE1E6;
  border-radius: 4px;
}

.icon-container {
  width: 12px;
  height: 7px;

  background: url('../img/arrow_down.png') no-repeat center / contain;
}

.f-select {
  width: 100%;
  height: 100%;

  border: 0;

  font-size: 16px;
}

ul {
  margin-top: 5px;
}

.f-option-container {
  width: inherit;
  height: fit-content;

  position: absolute;
  z-index: 9999;

  background: white;
  outline: 1px solid #DDE1E6;
  border-radius: 4px;

  list-style: none;
  padding-left: 0px;
}

.f-option {
  height: 33px;

  display: flex;
  align-items: center;
  justify-content: left;

  cursor: pointer;
}

.f-option:hover {
  background: #f6f6f6;
}

.f-option-label {
  padding-left: 20px;
}